@font-face {
    font-family: Coco ;
    src: url('https://fonts.cdnfonts.com/css/coco-gothic');
} 
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: Coco;
    text-align: center;
}

footer {
    background-color: #0a0a0a; /* Almost black background */
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.footer-section {
    margin-bottom: 30px;
    margin-left: 100px;
}

h2 {
    color: #9ECA2E; /* Green heading color */
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.quick-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition */
}

.quick-links a:hover {
    color: #9ECA2E; /* Green color on hover */
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease; /* Smooth color transition */
}

.social-icons a:hover {
    color: #9ECA2E; /* Green color on hover */
}

.address {
    color: #888;
    font-size: 14px;
    margin-top: 15px;
}

/* Classy Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    opacity: 0;
    animation: fadeInUp 1s forwards; /* Animation duration and fill-mode */
    animation-delay: 0.5s; /* Delay the animation */
    display: flex;
    flex-direction: row;    
}

img {
    width: 30px;
    height: 30px;
    justify-content: space-around;
}


.others {
    opacity: 0;
    animation: fadeInUp 1s forwards; /* Animation duration and fill-mode */
    animation-delay: 0.5s; 
}

/* Add more styling as needed */

@media screen and (max-width: 600px) {
    /* Add responsive styles for smaller screens */
    body {
        margin: auto;
    }
    .animated {
        opacity: 0;
        animation: fadeInUp 1s forwards; /* Animation duration and fill-mode */
        animation-delay: 0.5s; /* Delay the animation */
        display: block;
    }

    .footer-section quick-links{
        margin-bottom: 15px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
